.navbar {
    background-color: #ff66b2;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
  }
  
  .navbar a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
  }
  
  .navbar a:hover::before {
    width: 100%;
  }
  
  .navbar a:hover {
    color: #ffe0f0;
  }
  